.app_container {
    display: inline-block;
    position: relative;
}

.app_container button {
    right: 25px;
    position: absolute;
}

.article_container,
.img_container {
    width: 100vw;
    text-align: center;
}

.article_container {
    color: olive;
}

.dog_img,
.article_img {
    border-radius: 5%;
}

.dog_img {
    width: 50%;
    height: auto;
    border: 1px solid grey;
}

.article_img {
    width: 80%;
    height: auto;
    border: 4px solid RebeccaPurple;
}

